/* font-family: "Open Sans", sans-serif;
font-family: "Bebas Neue", sans-serif; */
:root {
  --font-family: "Open Sans", sans-serif;
  --second-family: "Bebas Neue", sans-serif;
}
html {
  scroll-behavior: smooth;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}
.header {
  background-image: url(../img/header_bg.jpg);
  background-size: 100vw 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100vh;
}
.header-logo {
  display: block;
  padding-top: 40px;
  padding-bottom: calc(50vh - 80px);
}
.logo-white {
  width: 101px;
  height: 23px;
  margin: 0 auto;
}
.heder-h1 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 0.095em;
  padding-left: 12px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.header-p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin-top: -7px;
  padding-bottom: calc(50vh - 164px);
}
.header-link {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.34em;
  text-align: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.header-link:hover,
.nav-li a:hover {
  color: #00a4e5;
}
.nav {
  border: 1px solid #e6e6e6;
}
.nav-flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}
.nav-logo-img {
  width: 80px;
  height: 18px;
}
.nav-ul {
  display: flex;
  justify-content: space-between;
  gap: 39px;
}
.nav-li a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #48555b;
}
.nav-min {
  display: none;
}

.about {
  height: 1600px;
  padding-top: 57px;
}
.about-h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.13em;
  text-align: center;
  color: #48555b;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.about-hr {
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  margin: 0 auto;
  margin-bottom: 52px;
}
.about-flex-box {
  display: flex;
  justify-content: space-between;
}
.about-flex-box-content {
  max-width: 405px;
}
.about-h4 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.01em;
  color: #48555b;
  padding-bottom: 30px;
}
.about-span {
  color: #16ace8;
}
.about-p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 177%;
  letter-spacing: 0.014em;
  color: #48555b;
}
.about-flex-box-img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
}
.about-img {
  width: 140px;
  height: 224px;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 121%;
  letter-spacing: 0.01em;
  color: #fff;
  padding-top: 15px;
  padding-left: 14px;
  text-transform: uppercase;
}
.about-img-1 {
  background-image: url(../img/we_plan.jpg);
}
.about-img-2 {
  background-image: url(../img/we_manage.jpg);
}
.about-img-3 {
  background-image: url(../img//we_build.jpg);
}

@media screen and (max-width: 992px) {
  .nav .container,
  .about .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .about-flex-box {
    display: flex;
    flex-direction: column;
  }
  .about-flex-box-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .about-flex-box-content {
    margin: 0 auto 30px;
    max-width: 450px;
  }
}
@media screen and (max-width: 600px) {
  .header-p,
  .heder-h1 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-p {
    padding-bottom: calc(50vh - 220px);
  }
  .nav-ul {
    display: none;
  }
  .nav-min {
    height: 40px;
    width: 40px;
    background-color: #48555b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0;
  }
  .min-line {
    height: 3px;
    width: 20px;
    background-color: rgb(255, 255, 255);
  }
}
@media screen and (max-width: 500px) {
  .about-img {
    font-size: 14px;
    height: 170px;
  }
  .about-flex-box-img {
    gap: 5px;
  }
}
@media screen and (max-width: 365px) {
  .header-logo {
    padding-bottom: calc(50vh - 220px);
  }
  .about-img {
    font-size: 12px;
    height: 100px;
  }
}
